<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ws_chatSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ws_chatSoap1" />
                <binding name="ws_chatSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="ws_chatSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44341/ws_chat.asmx" binding="basicHttpBinding"
                bindingConfiguration="ws_chatSoap" contract="srv.ws_chatSoap"
                name="ws_chatSoap" />
            <endpoint address="https://localhost:44341/ws_chat.asmx" binding="basicHttpBinding"
                bindingConfiguration="ws_chatSoap2" contract="srv1.ws_chatSoap"
                name="ws_chatSoap1" />
        </client>
    </system.serviceModel>
</configuration>